.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-container{
  display: flex;
}

.list-container, .form-container{
  margin:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
  border: 5px solid black;
  min-width: 400px;
  border-radius: 25px;
}