.full-app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.create-note{
  height: 300px;
  width: 400px;
  border: 1px solid black;
}

.to-do{
  height: 100px;
  width: 400px;
  border: 1px solid black;
  text-align: left;
}