.App {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
}

.todosContent, .formContent {
  margin: 0 20px;
  width: 300px; 
  border: 1px solid grey;
  padding: 20px;
}

.singleItem {
  border: 1px solid black;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}